$primary-color: rgb(0, 153, 255);
$success-color: rgb(0, 255, 136);
$warning-color: rgb(251, 255, 0);
$white-color: #fff;
$orange-color: #ff6301;
$black-color: #000;

$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;

@mixin flex-column-properties($direction, $justify-content, $align-items){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin flex-row-properities($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin padding($top, $right, $bottom, $left) {
    padding: $top $right $bottom $left;
}

@mixin margin($top, $right, $bottom, $left) {
    margin: $top $right $bottom $left;
}

%sections {
    height: 100vh;
    width: 100%;
    @include flex-column-properties(column, center, center);
}

%title {
    font-size: $font-lg;
    color: $white-color;
    font-weight: 700;
    margin-bottom: 20px;
}

%description {
    font-size: $font-sm;
    color: $white-color;
    font-weight: 500;
    text-align: justify;
    width: 500px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}